@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  @font-face {
    font-family: "SanFranciscoDisplay";
    src: url("../assets/fonts/SanFranciscoDisplay-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  body {
    font-family: SanFranciscoDisplay, sans-serif;
  }

  /**
   * *RESET
   */

  ::-webkit-scrollbar {
    @apply w-4;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-light border-4 border-solid border-primary-light bg-clip-padding rounded-full;
  }

  .Toastify__toast--success {
    background: #10b981 !important;
  }

  #navigation {
    transition: ease-in-out all 0.3s;
  }

  #navigation span {
    opacity: 0;
    position: absolute;
    transition: ease-in-out all 0.1s;
  }

  #navigation:hover {
    width: 14rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    /*shadow-2xl*/
  }

  #navigation:hover span {
    opacity: 1;
  }

  .page-sidebar-height {
    height: calc(100vh - 64px);
    overflow-y: overlay;
    @apply overflow-x-hidden;
  }

  .chat-body-height {
    height: calc(100vh - 202px);
    overflow-y: overlay;
    @apply overflow-x-hidden;
  }

  .content-sidebar-height {
    height: calc(100vh - 181px);
    @apply overflow-hidden;
  }

  .content-sidebar-height:hover {
    overflow-y: overlay;
  }

  .message-divider {
    max-width: 100%;
    @apply w-full relative mb-12;
  }

  .message-divider::before {
    content: attr(data-label);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    @apply block absolute -top-2 tracking-wide text-xs rounded bg-secondary-light left-1/2 py-0.5 px-2;
  }

  .welcome-chatting-height {
    height: calc(100vh - 30px);
  }
}

/* Custom component styles */
@layer components {
  /* Buttons */
  .medium-button {
    @apply text-xs font-semibold leading-6 tracking-wider text-center uppercase transition rounded shadow hover:shadow-lg focus:outline-none px-6 py-2;
  }

  .disabled-button {
    @apply text-secondary-gray bg-secondary-light cursor-not-allowed;
  }

  .primary-button {
    @apply text-primary-light bg-primary hover:bg-secondary;
  }

  .cancel-button {
    @apply bg-secondary-light;
  }

  /* Forms */
  .form-input {
    @apply appearance-none block w-full bg-secondary-light text-accent-gray border border-secondary-light rounded outline-none py-3 pl-11 pr-5;
  }

  .form-input.input-error {
    @apply border-negative text-negative;
  }

  .form-input.input-error::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    @apply text-negative opacity-100;
  }

  .form-input.input-error:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    @apply text-negative;
  }

  .form-input.input-error::-ms-input-placeholder {
    /* Microsoft Edge */
    @apply text-negative;
  }

  /* Checkbox */
  .round-checkbox {
    @apply relative;
  }

  .round-checkbox label {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    @apply bg-primary-light border border-solid border-secondary-light cursor-pointer absolute;
  }

  .round-checkbox label:after {
    content: "";
    width: 11px;
    height: 6px;
    left: 5px;
    top: 7px;
    transform: rotate(-45deg);
    @apply border-2 border-solid border-primary-light border-t-0 border-r-0 opacity-0 absolute;
  }

  .round-checkbox input[type="checkbox"] {
    @apply invisible;
  }

  .round-checkbox input[type="checkbox"]:checked + label {
    @apply bg-primary border-primary;
  }

  .round-checkbox input[type="checkbox"]:checked + label:after {
    @apply opacity-100;
  }

  /* Symbols */
  .message-symbol {
    height: 28px;
    width: 28px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/Sly2VzFz06G.png);
    background-position: 0px -1247px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .video-symbol {
    height: 28px;
    width: 28px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/Sly2VzFz06G.png);
    background-position: 0px -1566px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .live-stream-symbol {
    height: 28px;
    width: 28px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/Sly2VzFz06G.png);
    background-position: 0px -493px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

/* Customized task management layout styles */
.task-management-navigation {
  font-size: 15px;
}
.task-management-navigation-container {
  height: calc(100% - 50px);
}
.tm-left-sidebar-group:last-child {
  border: none;
}
.tm-left-sidebar-item {
  border-radius: 0 25px 25px 0;
}
.tm-left-sidebar-item:hover,
.tm-left-sidebar-item.active {
  background: #e6f1ff;
  border-radius: 0 25px 25px 0;
  color: #0060e1;
}
.tm-left-sidebar-progress {
  background: #dadce0;
}
.tm-left-sidebar-progress-value {
  background: #5f6368;
}
.task-management-layout.active .task-management-navigation {
  width: 3rem;
}
.task-management-layout.active .tm-left-sidebar-item-text {
  opacity: 0;
}
.task-management-layout.active .tm-left-sidebar-footer {
  opacity: 0;
}
.task-management-layout.active .task-management-main-content {
  padding-left: 3rem;
}
.task-management-layout.active .task-management-navigation-container {
  height: 100%;
}
.task-management-layout.active .tm-left-sidebar-group-title {
  height: 0;
  padding: 0;
  opacity: 0;
}
.tm-right-sidebar-chat-item-online {
  background: #008000;
}
.tm-right-sidebar-chat-icon {
  filter: invert(32%) sepia(86%) saturate(6231%) hue-rotate(207deg)
    brightness(95%) contrast(101%);
}
.tm-right-sidebar-toggle-btn {
  background: #e4e6eb;
}
.tm-right-sidebar-toggle-btn:hover {
  background: #a3a6ad;
}
.task-management-layout.active-right .tm-right-sidebar-toggle-btn {
  right: -15px;
  text-align: left;
}
.task-management-layout.active-right .tm-right-sidebar-toggle-btn img {
  transform: rotate(180deg);
}
.task-management-layout.active-right .tm-right-sidebar {
  right: -3rem;
}
.task-management-layout.active-right .task-management-main-content {
  padding-right: 0;
}
